#floor{
    padding:5px;
    margin-bottom:5px;
    border-radius: 5px;
}
canvas
{
    pointer-events: none;       /* make the canvas transparent to the mouse - needed since canvas is position infront of image */
    position: absolute;
}

